*{
    margin : 0;
    padding : 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #0a052e;
    text-align: center;
}

.container {
    height : 65vh;
    display : flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 5%;
    font-weight: 800;
    color: #defc18;
}

.game {
    height : 60vmin;
    width : 60vmin;
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 1.5vmin;
}

.box {
    height : 18vmin;
    width : 18vmin;
    border-radius: 1rem;
    border : none;
    box-shadow: 0 0 1rem rgba(102, 3, 122, 0.3);
    font-size: 8vmin;
    background-color: #4b055a;
}

.btn {
    padding : 1rem;
    font-size: 1.5rem;
    color : #0a052e;
    background-color: #defc18;
    border: 2px solid #defc18;
    box-shadow: 0 0 0.5rem #defc18;
    border-radius: 1rem;
    transition: 1s;
}

.btn:hover {
    background-color: #0a052e;
    color: #defc18;
    letter-spacing: 1px;
}

#msg {
    color : #defc18;
    font-size: 8vmin;
}

.msg-container {
    height : 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 4rem;
}

.hide {
    display: none;
}

/*  --------------------------------- Media Queries ----------------------------- */
@media (min-width : 150px) and (max-width : 500px) {

    main {
        height: 80vh;
    }

    main h1 {
        margin-top: 30%;
    }

    .container {
        height : 50vh;
    }

    .msg-container {
        height : 90vh;
        line-height: 3rem;
    }

    .btn {
        padding : 0.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
    }
    }

@media (min-width : 500px) and (max-width : 800px) {

    main {
        height: 90vh;
    }

    main h1 {
        margin-top: 7%;
    }

    .container {
        height : 65vh;
    }

    .msg-container {
        height : 90vh;
        line-height: 3rem;
    }

    .btn {
        padding : 0.7rem;
        font-size: 1.2rem;
        border-radius: 0.7rem;
    }
    
}